@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja bem vindo ao Padronizei!</h1>
    <h3>Esta é uma plataforma desenvolvida para auxiliar no compartilhamento de conhecimento em sua organização.</h3>
    <p>Estamos em desenvolvimento.</p>
</div>
