@model Padronizei.Models.Conteudo

@{
    ViewData["Title"] = "Criar conteúdo";
}

<h1>Criar</h1>

<h4>Conteúdo</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Corpo" class="control-label"></label>
                <textarea asp-for="Corpo" class="form-control" rows="8"></textarea>
                <span asp-validation-for="Corpo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Visibilidade" class="control-label"></label>
                <select asp-for="Visibilidade" class="form-control" asp-items="@Html.GetEnumSelectList<Padronizei.Models.Visibilidade>()">
                    <option selected="selected" value="-1">Selecione uma opção</option>
                </select>
                <span asp-validation-for="Visibilidade" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="DataCriacao" class="control-label"></label>
                <input asp-for="DataCriacao" class="form-control" />
                <span asp-validation-for="DataCriacao" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="ColaboradorId" class="control-label"></label>
                <select asp-for="ColaboradorId" class="form-control" asp-items="@ViewBag.ListaColaboradores"></select>
                <span asp-validation-for="ColaboradorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Departamento" class="control-label"></label>
                <select asp-for="DepartamentoId" class="form-control" asp-items="@ViewBag.ListaDepartamentos"></select>
                <span asp-validation-for="DepartamentoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar à lista</a>
</div>

